<!-- templates/includes/header.html -->
<div class="header">
    <div class="header-left">
        <h1>SongLib</h1>
    </div>
    {% if request.path == '/' %}
    <div class="header-center">
        <form action="{% url 'search' %}" method="get" class="search-form">
            <input type="text" name="q" placeholder="Search..." class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    {% endif %}
    <div class="header-right">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Main</a></li>
                <li><a href="{% url 'about' %}">Favorites</a></li>
                <li><a href="{% url 'contact' %}">Load song</a></li>
            </ul>
        </nav>
    </div>
</div>